SQL_DRIVER=mysql
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=identity
MYSQL_PASSWORD=identity
MYSQL_DATABASE=identity
MYSQL_HOST=mysql
MYSQL_PORT=3306
LISTEN_PORT=80
MYSQL_PORT=3306
DATABASE_SYNC=true
DATABASE_LOGGING=true
LOG_FORMAT=combine
SYNCHRONIZE_DATABASE=true
DATABASE_LOGGING=true